body{
    background-color: lemonchiffon;
    font-family: Arial, Helvetica, sans-serif;
}
.header-container-padre{
    display: flex;
    margin-top:1%;
    margin-left: 25px;
    margin-right: 25px;
    padding: 1%;
    height: 45px;
    background-color: rgb(253, 252, 231);
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    font-size: 100%;
}
.footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top:1%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;
}
.acciones{
    display: inline-block;
    margin-left: 250px;
    font-size: 14px;
}
.list{
    display: inline;
    list-style-type: none;
    margin: 0;
}
li{
    display: inline-block;
    margin-right: 25px;
    margin-right: 25px;
}
li a{
    display: block;
    color: #025157;
    text-align: center;
    text-decoration: none;
}
.sign-in-button{
    color: #67b54b;
    display: inline-block;
    margin-left: 300px;
    
}
.get-button{
    color: rgb(255, 255, 255);
    background-color: #67b54b;
    border: none;
    border-radius: 5px;
    padding: 15px 32px;
    margin-left: 10px;
}
main{
    background-color: lightblue;
    margin: 50px;
}
.copyright{
    text-align: right;
    margin-left: 600px;
}
